body {
	font-family: Montserrat, Roboto, Arial, sans-serif;
	color: #4b4640;
	padding: 0;
	margin: 0;
	max-width: 1400px;
	font-size: 16px;
	width: 100vw;
	box-sizing: border-box;
}

header {
	background: #131313 url(../img/background_header.jpg) no-repeat center top /cover;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.header_wrapper {
	width: 85%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}

nav {
	margin-top: 50px;
	display: flex;
}

.main-menu {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.header_image {
	margin-top: 50px;
	position: absolute;
	z-index: 4;
}

.menu {
	display: flex;
	justify-content: flex-end;
	padding: 0;
	margin: 0;
}
		
.menu li {
	margin-right: 50px;
	font-size: 1rem;
	list-style: none;
}

li a {
	text-decoration: none;
	color: #fdf9f2;
}


.logo {
	width: 100px;
	height: 100px;
	margin-top: 30px;
	box-shadow: none;
}

.button_more {
	outline: none;
	border: none;
	background: #fdf9f2;
	color: #4b4640;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 10px 5px;
	text-decoration: none;
	text-align: center;
	font-size: 1.5rem;
	box-shadow: 3px 3px 5px 0px rgba(75,70,64,0.3);
}

.greeting {
	display: flex;
	flex-wrap: wrap;
	width: 42%;
	height: 40%;
	color: #fdf9f2;
	margin-right: 0;
}

.greeting p {
	font-size: 1.5em;
	font-weight: lighter;
	line-height: 1.5em;
}

h1 {
	font-size: 2.5em;
}

main {
	display: grid;
	position: relative;
	z-index: 2;
	width: 85%;
	margin: 0 auto;
	grid-template-columns: 33.4% auto 33.4%;
	grid-template-rows: 300px 200px 301px 144px 269px 224px 269px;
	margin-top: 50px;
	margin-bottom: 175px;
}

h2 a {
	color: #4b4640;
	font-weight: normal;
	text-decoration: none;
	border-bottom: 1px solid #4b4640;
}

h3 a {
	color: #4b4640;
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: lighter;
}

.section-1 {
	grid-column: 3/4;
	grid-row: 1/3;
	display: flex;
	flex-wrap: wrap;
}

.women_watch {

}

.section-2 {
	grid-column: 1/2;
	grid-row: 2/4;
}

.men {

}

.section-3 {
	grid-column: 3/4;
	grid-row: 5/7;
	line-height: 1.5em;

}

.section-4 {
	grid-column: 1/2;
	grid-row: 6/8;
}

.section-3_title, .section-4_title {
	display: flex;
	line-height: 1.5em;
	padding-bottom: 3px;
}

.section-3_title span, .section-4_title span {
	border-bottom: 1px solid #4b4640;
}

footer {
	background-color: #4b4640;
	width: 100vw;
	display: flex;
	justify-content: center;
}

.footer_wrapper {
	width: 85%;
	flex-wrap: nowrap;
	display: flex;
	justify-content: space-between;
}

.nav_footer {
	margin: 0;
	padding: 0;
}

.nav_footer li {
	font-weight: lighter;
	padding-bottom: 5px;
}

.nav_footer li:nth-child(1) {
	font-weight: bold;
}

.nav_footer ul:nth-child(1) {
	padding-left: 0;
}
.menu_footer a {
	text-decoration: none;
	color: #fdf9f2;
	font-size: 0.8em;
}

.forms {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	align-items: center;
	max-width: 250px;
}

input.button {
	outline: none;
	border: none;
	background: #fdf9f2;
	color: #4b4640;
	border-radius: 3px;
	width: 70px;
	height: 25px;
	padding: 4px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	font-size: 0.8rem;
	box-sizing: border-box;
	box-shadow: 3px 3px 5px 0px rgba(75,70,64,0.3);
}

img {
	box-shadow: 3px 3px 5px 0px rgba(75,70,64,0.3);
}

input {
	outline: none;
	border: none;
	margin-right: 0px;
	color: #4b4640;
	padding: 4px;
}

input.mail:hover {
	background-color:#e7e1d8;
}

input.button:hover {
	background-color: #e7e1d8;
}

.icon-set {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	align-self: flex-start;
}

.icon {
	width: 60px;
	height: 30px;
	margin: 0;
	padding: 0;
}
		
